<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARrjUgA07VOetFfABvvGck8lgVHWG2qTU</string>
	<key>GCM_SENDER_ID</key>
	<string>45577208393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesuitch.fliplaptop</string>
	<key>PROJECT_ID</key>
	<string>fliplaptop-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>fliplaptop-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45577208393:ios:cd12d9f3281579aa6c3598</string>
</dict>
</plist>