<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018057238860-h2vv3r3iluhmukei3r6qfnuqkbu9t33v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018057238860-h2vv3r3iluhmukei3r6qfnuqkbu9t33v</string>
	<key>API_KEY</key>
	<string>AIzaSyAwin1li3vzBcN7lFD_qF0YjYSuzCyLaV0</string>
	<key>GCM_SENDER_ID</key>
	<string>1018057238860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesuitch.fliplaptop</string>
	<key>PROJECT_ID</key>
	<string>fliplaptop-80b95</string>
	<key>STORAGE_BUCKET</key>
	<string>fliplaptop-80b95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018057238860:ios:8ee33e4a7a2865cb45c7e9</string>
</dict>
</plist>